README.txt
.obj
*.lldb
.lldbinit
rmetris*
src/codegen_*
/*meshb
/*mesh
/*solb
/*sol
/*egads
cases/*
src/license.sh
cases/2D/*
*data
/codegen*
.*/
docs/libMeshb7.pdf
tmp_results/
src/CMakeFiles/
Documentation
docs/Numerical_Robustness.md
notes.txt
bunit/.*
.*.cxx
.*.hxx
tmp/
src/Arrays/*.naked_ptr
src/Arrays/*.shared_ptr
docs/API_notes.txt
docs/log
docs/Comparison/
README.old.md

clean.sh
Release*
Debug*
Prepro*
Sanitizer*
IWYU
intel-Release
build
*.sh
*.prof
*.dSYM
callgrind*
*metris
irprog
.DS_Store
.Makefile
..Makefile
src/*.f
gcc-Release
gprog
README.html
sftp-config.json
dbg_quality_diff.txt
docs/quality/
*.trace/


cases/public/*
!cases/public/square.meshb
!cases/public/test_script.sh
!cases/public/square.egads



!cases/unit/
!cases/1200_p1.meshb
!cases/1200_p1.solb
!cases/curved_p2.meshb
!cases/genp2-p4.sh
!cases/isotet.meshb
!cases/isotet.solb
!cases/test_cavity/
!cases/2D/
cases/2D/*
!cases/2D/square.p1.10.meshb
!cases/2D/square.circmet.5k.curved.meshb
!cases/2D/square.circmet.50.curved.meshb