README.txt
!.github/
.obj
*.lldb
.lldbinit
rmetris* 
/*meshb
/*mesh
/*solb
/*sol
/*egads
cases/*
src/license.sh
cases/2D/*
*data
/codegen*
.*/
docs/libMeshb7.pdf
tmp_results/
src/CMakeFiles/
Documentation
docs/Numerical_Robustness.md
notes.txt
.*.cxx
.*.hxx
tmp/
src/Arrays/*.naked_ptr
src/Arrays/*.shared_ptr
docs/API_notes.txt
docs/log
docs/Comparison/
README.old.md

clean.sh
Release*
Debug*
Prepro*
Sanitizer*
Memcheck*
IWYU
intel-Release
build
*.sh
*.prof
*.dSYM
callgrind*
*metris
irprog
.DS_Store
.Makefile
..Makefile
src/*.f
gcc-Release
gprog
README.html
sftp-config.json
dbg_quality_diff.txt
docs/quality/
*.trace/


cases/public/*
!cases/public/square.meshb
!cases/public/test_script.sh
!cases/public/square.egads

examples/*
!examples/gen_cases.sh
!examples/2D/
examples/2D/*
!examples/2D/gen_cases.sh
!examples/2D/misc/
examples2D/misc/*
!examples/2D/misc/2tri2D.mesh
!examples/2D/misc/invevalP2.mesh
!examples/2D/square/
examples2D/square/*
!examples/2D/square/gen_circmet.p2.500.sh
!examples/2D/square/gen_circmet.p2.5k.sh
!examples/2D/square/gen_square.p1.100k.sh
!examples/2D/square/gen_square.p1.10k.sh
!examples/2D/square/square.egads
!examples/2D/square/square.meshb
!examples/2D/square/test_script.sh
!examples/2D/square/test_scriptP2.sh

!examples/3D/
examples/3D/*
!examples/3D/gen_cases.sh
!examples/3D/cube/
examples3D/cube/*
!examples/3D/cube/cube.egads
!examples/3D/cube/cube.meshb
!examples/3D/cube/gen_cube.p1.16k.sh
!examples/3D/cube/gen_cube.p1.2k.sh
!examples/3D/cube/gen_curved.p2.2k.sh


!cases/unit/
!cases/1200_p1.meshb
!cases/1200_p1.solb
!cases/curved_p2.meshb
!cases/genp2-p4.sh
!cases/isotet.meshb
!cases/isotet.solb
!cases/test_cavity/
!cases/2D/
cases/2D/*
!cases/2D/square.p1.10.meshb
!cases/2D/square.circmet.5k.curved.meshb
!cases/2D/square.circmet.50.curved.meshb

!jenkins/cmake_jenkins.sh
!jenkins/jenkins_env.sh
!jenkins/jenkins_sim.sh
!jenkins/Metris_Commit.sh